@import '@assets/styles/global.scss';

.button {
  border-radius: 5px;
  border: none;
  width: 240px;
  height: 60px;
  margin: 20px 0;
  font-size: 15px;
  font-family: "Hind", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;

  &.small {
    width: 100px;
    height: 43px;
  }

  @include breakpoint('MEDIUM') {
    margin: 20px auto;
  }

  &.darkTeal {
    background: $darkTeal;
    &:hover {
      background: darken($darkTeal, 10%);
    }
  }

  &.gray {
    background: $lightGray;
    color: $anotherGray;
    &:hover {
      background: $grayButtonHover;
    }
  }

  &.green {
    background: $green;
    &:hover {
      background: $greenHover;
    }
  }

  &.red {
    background: $redButton;
    &:hover {
      background: $redButtonHover;
    }
  }

  a {
    display: block;
    height: 100%;
    line-height: 60px;
    color: #fff;
  }
}

.btnFixLoading .LoadingContainer {
  margin-left: 10px;
  zoom: 0.7;
}
