@import '@assets/styles/global.scss';

.topLogo {
  position: relative;
  top: 10px;
  left: 30px;
  font-size: 2.5rem;
  font-weight: 900;
  color: #ffffff;

  @include breakpoint('MEDIUM') {
    color: #000;
  }
}