@import '@assets/styles/global.scss';

@mixin label-inactive() {
  font-size: 18px;
  transform: translateY(0);
}

@mixin label-active() {
  font-size: 14px;
  transform: translateY(-18px);
}

.form-field {
  display: block;
  margin-bottom: 16px;

  .form-field_label {
    @include label-active();
    text-align: left;
    font-family: "Hind", sans-serif;
    display: block;
    font-weight: normal;
    padding-top: 23px;
    position: absolute;
    top: 0;
    transition: all $animation-duration;
    width: 100%;
    color: $inputGray;
  }
  .form-field_control {
    background: transparent;
    overflow: hidden;
    position: relative;
    width: 100%;

    .form-field_reveal {
      position: relative;
      top: -30px;
      float: right;
      cursor: pointer;
    }

    .form-field_input {
      font-family: "Hind", sans-serif;
      appearance: none;
      background: transparent;
      border: 0;
      border-bottom: 1px solid $inputGray;
      color: $darkTeal;
      font-size: 18px;
      margin-top: 24px;
      outline: 0;
      padding-bottom: 7px;
      width: 100%;
      &.error {
        border-bottom-color: $error-color;
      }

      // other browsers
      &:placeholder-shown {
        ~ .form-field_label {
          @include label-inactive();
        }
      }
      // IE 10-11
      &:-ms-input-placeholder {
        ~ .form-field_label {
          @include label-inactive();
        }
      }

      &:focus {
        ~ .form-field_label {
          color: $inputGray;
          @include label-active();
        }
        /*~ .form-field_bar {
          border-bottom: 2px solid $inputGray;
          &.error {
            border-bottom-color: $error-color;
          }
          transform: scaleX(150);
        }*/
      }
    }

  }
  .form-field_error {
    color: $error-color;
    margin-top: 10px;
  }

}
