@import '@assets/styles/global.scss';

.FormContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  top: 0;
  margin-left: 577px;
  text-align: left;

  @include breakpoint('LARGE') {
    width: 100%;
    margin-left: initial;
  }

  .cont {
    @include breakpoint('LARGE') {
      align-self: flex-end;
      margin-right: 50px;
    }
    @include breakpoint('MEDIUM') {
      align-self: center;
      margin-right: initial;
      text-align: center;
    }
    .errorMsg {
      color: $error-color;
    }
  }

  .title {
    color: $darkTeal;
    font-size: 26px;
    @include breakpoint('MEDIUM') {
      text-align: center;
    }
  }

  .content {
    color: $grayMedium;
    margin-bottom: 10px;
    @include breakpoint('MEDIUM') {
      text-align: center;
    }
  }

}