@import '@assets/styles/global.scss';

.form-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: calc(100vh - 74px); /* 74px = height of the header */
  padding-left: 577px;
  text-align: left;
  z-index: 1;
  min-width: 395px;

  @include breakpoint('LARGE') {
    padding-left: 480px;
  }
  @include breakpoint('MEDIUM') {
    padding-left: 0;
    justify-content: center;
  }

  .cont {
    @include breakpoint-height() {
      align-self: flex-start;
    }


    @include breakpoint('LARGE') {

    }
    @include breakpoint('MEDIUM') {
      align-self: center;
      margin-right: initial;
      text-align: center;
      display: flex;
      flex-direction: column;
      width: 315px;
    }
    .errorMsg {
      color: $error-color;
    }
  }

  .title {
    color: $darkTeal;
    font-size: 26px;
    @include breakpoint('MEDIUM') {
      text-align: center;
    }
  }

  .content {
    color: $grayMedium;
    margin-bottom: 10px;
    @include breakpoint('MEDIUM') {
      text-align: center;
    }
  }

}