@import '@assets/styles/global.scss';

.loginRegisterForm {
  width: 450px;

  @include breakpoint('MEDIUM') {
    width: 250px;
  }
}

.loadingUserCont {
  width: 100%;
  height: 100vh;
  background: $almostWhite;

  >.LoadingContainer {
    height: 100%;
    margin-left:0px;
  }
}