
* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Hind", sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100%;
    min-width: 375px;
}

body.white {
    background: #fff;
}
body.gray {
    background: #F9F9FB;
}


a {
    text-decoration: none;
}