/*********************
VARIABLES
*********************/

$green: #22D486;
$greenHover: #20BD78;
$white: #FFF;
$almostWhite: #F9F9FB;
$darkTeal: #323C46;
$addButtonHover: #565D5A;
$black: #000;
$grayMedium: #949ea8;
$lightGray: #D9DCE1;
$grayButtonHover: #C4C9D1;
$anotherGray: #A9AEB4;
$dateGray: #CACDD0;
$authorCement: #7D7878;
$redButton: #FF4081;
$redButtonHover: #E73370;
$primary-color: #C9CED3;
$error-color: #FF558F;
$animation-duration: 0.2s;


/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == 'XLARGE' {
    @media (max-width: 1300px) { @content ; }
  }
  @if $point == 'LARGE' {
    @media (max-width: 1150px) { @content ; }
  }
  @else if $point == 'MEDIUM' {
    @media (max-width: 960px) { @content ; }
  }
  @else if $point == 'SMALL' {
    @media (min-width: 425px)  { @content ; }
  }
  @else if $point == 'XSMALL' {
    @media (max-width: 425px)  { @content ; }
  }
}